/* NavBarStyles.css */

/* Styles for navbar container */
.navbar-container {
    display: flex;
    justify-content: space-between; /* Adjust to space-between to manage children */
    align-items: center;
    background-color: #FFF; /* Corrected to valid color code */
    padding: 5px 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.navbar-link img {
    height: 50px;
    width: auto;
}

/* Styles for navbar links */
.navbar-link {
    font-size: 16px;
    color: black;
    padding: 0px 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.profile-icon {
    height: 30px; /* Adjust size as needed */
    width: auto;
    margin-right: 20px; /* Increase or adjust this value to move the icon more to the left */
}

/* Style for the right-side elements */
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    flex-grow: 1; /* Allows the right section to take up the remaining space */
}

/* Additional styles for navbar active link */
.navbar-active-link {
    color: blue;
    font-weight: bold;
}

.fade-out, .fade-in {
    transition: opacity 0.3s ease;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

/* NavBarStyles.css */
.profile-menu {
    position: relative; /* Set position context for the dropdown */
    cursor: pointer; /* Change cursor to pointer to indicate clickable area */
}

.dropdown {
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1001; /* Ensure dropdown appears above other content */
    right: 0; /* Align the dropdown to the right of the profile menu */
    width: 150px; /* Set a fixed width for the dropdown */
    border-radius: 4px; /* Optional: adds rounded corners to the dropdown */
}

.dropdown-item {
    padding: 8px 16px;
    display: block; /* Make links fill the container */
    text-decoration: none;
    color: black; /* Default text color */
    white-space: nowrap; /* Prevents wrapping of text */
}

.dropdown-item:hover {
    background-color: #f2f2f2; /* Light grey background on hover */
}

.logout {
    color: red; /* Makes the logout option red */
}

.dropdown-item.logout:hover {
    background-color: #fdecec; /* Light red background on hover for logout */
}
